# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
.pnpm-store/

# Build and Output Directories
dist/
dist-ssr/
build/
out/
*.tsbuildinfo

# Environment and Local Configs
.env
.env.local
.env.*.local
*.local

# Editor and System Files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Testing and Coverage
coverage/
.nyc_output/

# Cache Directories
.cache/
.parcel-cache/
.eslintcache
.stylelintcache
.turbo/